@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

h1, h2{
    font-family: 'Barrio', cursive;
    letter-spacing: 20px;
}
* {
    font-family: 'Autour One', cursive;
}
.custom-spinner {
    color:rgb(250 204 21); 
}